<!--
    File Name: footer.ejs
    Authors: Cindy Diaz, Hae Yeon Kang
    Website Name: Manage Support Website
    File Description: Footer across the website.
-->
    <div class="footer navbar-fixed-bottom">
        <div class="container">
            <p class="text-muted">&reg; Manage Support 2016</p>
        </div>
    </div>
    <!-- JavaScript Section -->
    <!--<script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>-->
    
    <!-- JQuery CDN -->
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <!-- Bootsrap Javascript CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>