<!--
    File Name: index.ejs
    Authors: Cindy Diaz, Hae Yeon Kang
    Website Name: Manage Support Website
    File Description: Main Landing page
-->
<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="/Assets/logo6.png" >
        <h1>IT management platform to boost your productivity!</h1>      
        <h3>Everything you need to deliver amazing digital service management.</h3>  
        <div class="button-group">
            <a href="/login"><button type="button" class="btn btn-reset btn-lg">Log In</button></a>
            <a href="/register"><button type="button" class="btn btn-delete btn-lg">Register Now!</button></a>
        </div>
    </main>
<% include partials/footer.ejs %>
    
